<!DOCTYPE html>

<html>

<head>
  <title>{{title}}</title>
  <link rel= "icon" href="../img/weather_icon.png"> </link>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class = "body">
    <div class="main-content">
    {{> header }}

    <h2>Use this site to get your weather</h2>

    <form>
      <input placeholder="Location">
      <button>Search</button>
    </form>
    <h2 id="message-location"></h2>
    <h3 id="message-weather"></h3>
    <p id="message-temp"></p>
    <p id="message-humidity"></p>
    <p id="message-windspeed"></p>
    <p id="message-visibility"></p>
    <p id="message-pressure"></p>
    <p id ="message-country"></p>
    <p id ="message-region">
    <p id="message-localtime"></p>
    <p id="message-global-site"></p>
  </div>
  
  {{> footer }}
  
  <script src="/js/app.js"></script>
  </div>
</body>

</html>