body {
  background-image: linear-gradient(to left, #000046,#1cb5e0);
  
}
.body{
  color: #fff;; 
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  max-width: 650px;
  margin: 0 auto;
  padding: 0 16px;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.main-content {
  flex-grow: 1;
}
footer{
  color:#fff;
  border-top : 1px solid #eee;
  margin-top: 16px;
  padding-top: 16px 0;
}
header{
  margin-top: 16px;
  margin-bottom: 48px;
}
h1{
  font-size: 64px;
  margin-bottom: 16px;
}
header li{
  display: inline-block;
}
header a{
  color: #fff;
  margin-right: 16px;
  text-decoration: none;
}
.portrait{
  border-radius: 10%;
  width: 250px;
}
input{
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  margin-bottom: 16px;
}
button{
  background-image: linear-gradient(to left, #56ab2f, #a8e063);
  border: none;
  border-radius: 4px;
  color: white;
  padding: 8px;
  margin-bottom: 16px;
}